---
import { getDataFeed } from '@/utils/api'

import Footer from '@/components/regions/Footer.vue'
import Header from '@/components/regions/Header.vue'
import sprite from '/images/icons.svg?raw'

import '@/styles/styles.scss'

const astroSite = import.meta.env.SITE_URL
const astroPath = Astro.url.pathname
const menuItems = await getDataFeed('menu')
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Mike Tropea - Website Portfolio</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script is:inline>
      // Prevent flash of wrong theme
      ;(() => {
        const savedTheme = localStorage.getItem('theme')
        const theme = savedTheme || 'dark'

        if (!savedTheme) {
          localStorage.setItem('theme', theme)
        }

        document.documentElement.setAttribute('data-theme', theme)
      })()
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YS4SJXC4C5"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-YS4SJXC4C5')
    </script>
  </head>
  <body>
    <Fragment set:html={sprite} />
    <modal></modal>
    <Header
      menuItems={menuItems}
      site={astroSite}
      path={astroPath}
      client:load
    />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
